body {
  background-color: #efefef;
  color: #333333;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  padding: 8px;
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
  overflow-x: hidden;
  text-align: center;
}

.form {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 50px 0;
  display: grid;
}

.form button {
  padding: 8px 17px;
  border: 0;
  color: #fff;
  background: #265265;
  cursor: pointer;
  max-width: 130px;
  margin: 0 auto;
}

.form button:hover {
  background: #1e3d4b;
}

.form button:disabled {
  opacity: 50%;
  pointer-events: none;
}

.result-container {
  padding: 50px;
  border: 2px dashed #265265;
  text-align: left;
}

label{
  padding: 5px 10px;
  background: #868e96;
  position: relative;
  color: #fff;
  border-radius: 7px;
  text-align: center;
  cursor: pointer;
  font-size: 22px;
  margin-bottom: 30px;
}

.chooseButton {
  position: absolute;
  z-index: 1000;
  opacity: 0;
  cursor: pointer;
  background:#efefef;
  color:#606060;
  right: 0;
  top: 0;
  height: 100%;
  font-size: 24px;
  width: 100%;
  cursor:pointer
}

.chooseButton:hover {
  display: block;
  margin: 20px auto;
  background-color: #265265;
  border-color: #265265;
}

.chooseButton:active {
  color: #fff;
  background-color: #265265 !important;
  border-color: #265265 !important;
}

.chooseButton:focus {
  color: #fff;
  background-color: #265265 !important;
  border-color: #265265 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.main-button {
  background-color: #265265;
}

.main-button:disabled {
  background-color: #265265;
}

.alert-info {
  background-color: #dee2e6;
  color: #265265;
}

